@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

/* make changes to the !default Bootstrap variables */
$primary: #f16521;
$secondary: #ffffff;
$fade: #becad6;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "fade": $fade,
);
/* finally, import Bootstrap to set the changes! */
@import "./node_modules//bootstrap/scss/bootstrap.scss";
